/* general text formatting */
body {
	font-family: Arial, sans-serif;
	font-size: 100%;
	padding: 0.25em;
	margin: 0 20%;
}

form {
	background-color: #e5ffd8;
	padding: 0.5em;
	border-style: groove;
	margin: 1em 0 0 0;
}

legend {
	text-align: center;
	color: white;
	font-weight: bold;
	margin: -1.25em 0.5em 0 0.5em;
	padding: 0.25em;
	background-color: green;
}

fieldset {
	border: 1pt solid green;
	margin: 0.5em;
}

fieldset.submit {
	border: none;
	background-color: white;
}


input.quantity{
	width: 2.5em;
}

.btns {
	text-align: center;
}

.pad{
	display:inline-block;
	width: 0.5em;
}

.btn_inline {
	background-color: green;
	color: white;
	width: 7em;
	padding: 0.5em 0.5em;
	border-radius: 0.5em;
	border-style: solid;
	border: 2px solid lightgrey;
	display: inline-block;
	margin: 0 auto;
}
